html, body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strike, strong, sub, sup, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, details, figure, figcaption, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
}
/********chat********/
.chatIcon{
    position:fixed;
    z-index: 999;
    bottom:50px;
    right:50px;
    width:50px;
    height:50px;
    background: url(http://static.1sight.cn/official/code/image/contact.png) no-repeat;
    background-size:cover;
    background-position: left;
    cursor: pointer;
}
.chatIcon:hover{
    background-position: right;
    width:150px;
    transition: width 0.5s;
    -moz-transition: width 0.5s; /* Firefox 4 */
    -webkit-transition: width 0.5s; /* Safari 和 Chrome */
    -o-transition: width 0.5s; /* Opera */
}
body{
}
.big_boss{
	min-width: 1000px;
}
.big_boss .top{
	background: #cc9b66;
	height: 8px;
}
.big_boss .head{
	height: 120px;
	background: #333333;
	

}

.head .head_nav{
	width: 1000px;
	height: 120px;
	line-height: 120px;
	margin:0 auto;
	color: #ffffff;
	text-align:center;
}

.head .head_nav .img{
	float: left;
	line-height: 120px;

}
.head .head_nav .nav{
	float: right;

}
.head .head_nav .nav span{
	display: inline-block;
	margin-left: 60px;
	font-size: 14px;
}
.clearfix{
	clear: both;
}

.big_title{
	width: 100%;
	height: 540px;
	position: relative;
	z-index: -1;
	
	text-align: center;

}
.big_title .title_bg{
	width: 100%;
	height: 100%;
	
	position: absolute;
	z-index: 1;
}
.big_title .title_des{
	position: absolute;
	z-index: 2;
	top: 120px;
	left: 15%;
	text-align: left;
	color: #ffffff;
}
.title_des .des_01{
 	font-size: 40px;
}
.title_des .des_02{
	margin-top: 30px;
 	font-size: 30px;
}
.title_des .des_03{
	margin-top: 20px;
 	font-size: 18px;
}
.title_des .des_04{
	margin-top: 80px;
 	font-size: 40px;
}
.title_des .des_04 span{
	text-decoration:line-through;
 	font-size: 20px;
}

.serie_info{
	width: 1000px;
	
	margin: 80px auto 120px;
}

.serie_info .info_left{
	width: 430px;

	float: left;
	text-align: center;
}
.serie_info .info_left,.info_right img{
	display: block;
	margin: 0 auto;
}
.serie_info .info_left p{
	margin-top: 80px;
	margin-bottom: 40px;
	color: #000000;
	font-size: 16px;
}
.serie_info .info_left .icon_list ul{
	list-style: none;


}
.serie_info .info_left .icon_list ul li{
	width: 70px;
	height: 70px;
	float: left;
	display: inline-block;
	padding-bottom: 0px;
	text-align: center;
}
.serie_info .info_left .icon_list ul .li{
	margin-right: 20px;
}
li .last{
	margin-right: 0px;
}
.serie_info .info_left .icon_list ul li span{
	font-size: 14px;
	display: block;
	margin-top: 20px;
}
.serie_info .info_right{
	width: 350px;
	
	float: right;
	margin-top: 10px;
	
}
.serie_info .info_right .serie_name{
	font-size: 26px;
	color: #000000;
	text-align: left;
	
}
.serie_info .info_right .serie_name span{
	display: inline-block;
	float: right;
	color: #c3935e;

	
}
.serie_info .info_right .qian_price {
	margin-top: 20px;
	text-align: right;
	font-size: 14px;
	position: relative;

}
.serie_info .info_right .qian_price img{
	display: inline-block;
	position: absolute;
	right: -26px;
	
}
.serie_info .info_right .qian_price  p{
	display: none;
	position: absolute;
	right: -246px;
	top: -10px;
	width: 170px;
	padding: 10px 20px 10px 20px;
	font-size: 12px;
	color: #666666;
	border: 1px solid #dbdbdb;
	text-align: left;
	line-height: 20px;
	
}
.serie_info .info_right .qian_price  p span{
	color: #c3935e;
}
.serie_info .info_right .qian_price .flag01{
	font-weight: bold;
	color: #1a1a1a;
}
.serie_info .info_right .qian_price .flag02{
	color: #c3936e;

}

.serie_info .info_right .serie_virtue{
	margin-top: 32px;
	
}
.serie_info .info_right .serie_virtue ul{
	list-style: none;
	text-align: center;

}
.serie_info .info_right .serie_virtue ul li{
	width: 60px;
	height: 70px;
	display: inline-block;
	float: left;
	margin-right: 36px;
	color: #1a1a1a;
}
.serie_info .info_right .serie_virtue ul li:nth-child(4){
	margin-right: 0px;
}
.serie_info .info_right .serie_virtue ul li span{
	font-size: 12px;
	display: block;
	margin-top: 18px;
}



.info_right .serie_classes{
	height: 38px;
	width: 318px;
	padding-left: 30px;
	border: 1px solid #dbdbdb;
	font-size: 14px;
	color: #1a1a1a;
	margin-top: 20px;
	line-height: 38px;
	cursor: pointer;
}
.info_right .serie_classes .serie_img{
	display: none;
	float: right;
	margin : 13px 10px 0 0;
}
.info_right  .one{
	margin-top: 40px;
}
.info_right .right_all{
	
	
	
}

.info_right .right_title1{
	
	
	text-align: right;
	
}
.info_right .right_title2{
	margin-top: 10px;
	text-align: right;
	font-size: 22px;
}
.info_right .right_title2 span{
	font-size: 30px;
}
.info_right  .right_btn{
	margin-top: 30px;
	width: 180px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 16px;
	color: #ffffff;
	background: #cc9b66;
	float: right;
	right: 0;
	bottom: 0;
	cursor: pointer;
}
.serie_class {
	border-top: 1px solid #dbdbdb;
	border-bottom: 1px solid #dbdbdb;
	cursor: pointer;
}
.serie_class .main_nav{
	width: 1000px;
	height: 80px;
	line-height: 80px;
	margin: 0 auto ;

}
.serie_class .main_nav .navs {
	width: 600px;
	float: left;
	list-style: none;
}
.serie_class .main_nav .navs li{
	display: inline-block;
	float: left;
	color: #1a1a1a;
	width: 150px;
	height: 20px;
	text-align: center;
	font-size: 16px;
}

.serie_class .main_nav .navs li .span1{
	display: inline-block;
	margin-left: 0;
	float: left;
	color: #dbdbdb;
}
.serie_class .main_nav .navs li .span2{
	display: inline-block;
	text-align: center;
}
.serie_class .main_nav .navs li .span3{
	display: inline-block;
	text-align: center;
	float: right;
	color: #dbdbdb;
	margin-right: -4px;
}
.serie_class .main_nav .navs_btn{
	
	float: right;
	text-align: center;
	height:80px;
	
}
.serie_class .main_nav .navs_btn .price{
	font-size: 20px;
	color: #c3935e;
	display: inline-block;
	line-height: 80px;
	
}
.serie_class .main_nav .navs_btn .btn{
	display: inline-block;
	width: 180px;
	height:50px;
	margin: 15px 0 0  20px;
	background: #cc9b66;
	font-size: 16px;
	color: #ffffff;
	text-align: center;
	line-height: 50px;

}

.serie_sample{
	width: 1000px;
	margin: 80px auto 60px;
	
}
.serie_sample .titles{
	text-align: center;
	font-size: 30px;
	color: #000;
}

.serie_sample .big_pic{
	width: 1000px;
	margin:100px auto 0;
}


.serie_sample .ones_all {
	height: 500px;
	margin-top: 100px;
	
}
.serie_sample .ones{
	height: 500px;
	float: left;
	position: relative;
}
.serie_sample  .one_title,.second_title{
	font-size: 30px;
	color: #000;
}
.serie_sample  .one_des,.second_des{
	font-size: 20px;
	color: #000;
	margin-top: 20px;
}
.serie_sample  .one_info,.second_info{
	font-size: 16px;
	color: #666666;
	margin-top: 30px;
	line-height: 26px;
}
.serie_sample .ones .img_left1{
	width: 380px;
	height: 220px;
	position: absolute;
	bottom: 0px;

}
.serie_sample .ones_all .img_right1{
	width: 600px;
	height: 500px;
	float: right;
	margin-bottom: 0px;
	margin-right: 0px;

}
.serie_sample .second_all{
	height: 500px;
	position: relative;
	margin-top: 20px;
}
.serie_sample .second_all .seconds{
	height: 160px;
	width: 380px;
	position: absolute;
	left: 0px;
	padding-top: 340px;
}


.serie_sample .second_all .second_middle{
	height: 500px;
	width: 230px;
	position: absolute;
	left: 400px;
}
.serie_sample .second_all .second_right{
	height: 240px;
	width: 350px;
	
}
.serie_sample .second_all .right_all{
	position: absolute;
	left: 650px;
	width: 350px;
}
.serie_sample .second_all .third{


	margin-top: 80px;
	height: 160px;
}

.serie_sample .one_day{
	margin-top: 140px;

}
.serie_sample .one_day h1{
	font-size: 30px;
	text-align: center;
	
}
.serie_sample .one_day .day_01{
	
	display: block;
	margin: 80px auto 0;
	
}

.business {
	width: 900px;
	margin: 0 auto 30px;
}
.business .busi_title{
	height: 130px;
	line-height: 130px;
	border-bottom:1px solid #ededed;
	font-size: 28px;
	text-align: center;
}

.business .pho_class{
	width: 100%;
	height: 60px;
	margin-top: 90px;
	border-top: 1px solid #dbdbdb;
	border-left: 1px solid #dbdbdb;
	border-bottom: 1px solid #dbdbdb;
}
.business .pho_class p{
	width: 299px;
	height: 60px;
	text-align: center;
	float: left;
	line-height: 60px;
	font-size: 16px;
	color: #1a1a1a;
	border-right:  1px solid #dbdbdb;
	cursor: pointer;
}
.business .five p{
	width: 179px;
	height: 60px;
	text-align: center;
	float: left;
	line-height: 60px;
	font-size: 16px;
	color: #1a1a1a;
	border-right:  1px solid #dbdbdb;	
}
.business .two p{
	width: 449px;
	height: 60px;
	text-align: center;
	float: left;
	line-height: 60px;
	font-size: 16px;
	color: #1a1a1a;
	border-right:  1px solid #dbdbdb;	
}
.business .onlyone p{
	width: 899px;
	height: 60px;
	text-align: center;
	float: left;
	line-height: 60px;
	font-size: 16px;
	color: #1a1a1a;
	border-right:  1px solid #dbdbdb;	
}

.business .all_pho{
	display: none;
	margin-top: 80px;
	padding-left: 60px;
}
.business .busi_info{
	margin-top: 80px;
}
.business .busi_info p{
	font-size: 22px;
	color: #1a1a1a;

}
.business .busi_info ul{
	list-style: none;
	margin-top: 40px;
}
.business .busi_info ul li{
	line-height: 30px;
	color: #4c4c4c;
	font-size: 16px;
	color: #4c4c4c;
}
.shoot_process{
	width: 1000px;
	padding-top: 50px;
	margin: 0 auto;
}
.shoot_process .shoot_title{
	font-size: 40px;
	color: #1a1a1a;
	text-align: center;
}
.shoot_process .shoot_des{
	margin-top: 40px;
	font-size: 20px;
	color: #1a1a1a;
	text-align: center;
	line-height: 40px;
}
.shoot_process ul{
	margin-top: 90px;
	list-style: none;

}
.shoot_process ul li{
	width: 200px;
	height: 120px;
	text-align:  center;
	float: left;
}
.shoot_process ul li img{
	display: block;
	margin: 0 auto;
}
.shoot_process ul li span{
	margin-top: 40px;
	display: block;
}

.evaluates {
	width: 900px;
	margin: 80px auto;



}
.evaluates .evaluate {
	padding-top: 60px;
	padding-bottom: 59px;
	border-bottom:1px solid #ededed; 

}
.evaluates .evaluate:clearfix {
	padding-top: 60px;
	padding-bottom: 60px;


}
.evaluates .evaluate .head_img{
	float: left;
	width:60px;
	height:60px; 
	background-color:#dbdbdb; 
	border-radius:30px;
	-moz-border-radius: 30px;      /* Gecko browsers */
    -webkit-border-radius: 30px;

}
.evaluates .evaluate .evaluate_info{
	width: 810px;

	margin-left: 30px;
	float: right;
}
.evaluate .evaluate_info .evaluate_name{
	font-size: 14px;
	color: #333333；
}
.evaluate .evaluate_info .evaluate_time{
	font-size: 14px;
	color: #999999;
	margin-top: 12px;
}
.evaluate .evaluate_info .evaluate_des{
	font-size: 16px;
	color: #1a1a1a;
	margin-top: 20px;
	line-height: 30px;
}
.clearfix {
  zoom: 1;
  display: table;
  width: 100%;
}

.merit_box{
	background: #F7F4F1;
	margin-top:170px; 
	width: 100%;
	height: 580px;
}
.merit_box .merit{
	width: 1000px;
	margin: 0 auto;
	text-align: center;
	padding-top: 90px;
}
.merit_box .merit .plus_title1{
	font-size: 30px;
	color: #000000;
	


} 
.merit_box .merit .plus_introduce{
	font-size: 18px;
	color: #1a1a1a;
	margin-top: 20px;
	

} 
.merit_box .merit ul{
	list-style: none;
margin-top: 60px;

} 
.merit_box .merit ul li{
	list-style: none;
	display: inline-block;
	float: left;
	height: 290px;
	width: 200px;
	margin-right:0px; 
} 
.merit_box .merit ul li:nth-child(1){	
	margin-right:66px; 
} 
.merit_box .merit ul li:nth-child(2){
	margin-right:67px; 
} 
.merit_box .merit ul li:nth-child(3){
	margin-right:66px; 
} 
.merit_box .merit ul li img{
	display: block;
	height: 50px;
	margin: 0 auto;
}
.merit_box .merit ul li .p1{
	margin:30px auto 23px; 
	font-size: 20px;
	color: #1a1a1a;

}
.merit_box .merit ul li .p2{
	margin:30px auto 30px; 
	font-size: 16px;
	color: #333333;
	line-height: 30px;
	text-align: left;
}

.bottom{
	width: 100%;
	height: 100px;
	background: #ededed;
	
}
.bottom .bottom_content{
	width: 1000px;
	height: 100px;
	margin: 0 auto;
	text-align: center;
}
.bottom .bottom_content p{
	
	display: inline-block;
	margin-left: 60px;
	line-height: 100px;
	font-size: 16px;
	color: #757575;
}









.qfx_dizhi{
	float: right;
	margin-left:30px;
	margin-top: 10px;
	color: #999;
}
.qfx_dizhi1{
	margin: 0 5px;
}
.qfx_genggai{
	cursor: pointer;
	color: #cc9b66;
}


.qf_beijing{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 999;
    filter:alpha(opacity=50); /*IE滤镜，透明度50%*/
    -moz-opacity:0.5; /*Firefox私有，透明度50%*/
    opacity:0.5;/*其他，透明度50%*/
}
.qf_nav{
    width: 700px;
    height: 450px;
    background: #fff;
    position: fixed;
    z-index: 1000;
    top: 20%;
    left: 26%;
}
.qf_nav_top{
    height: 60px;
    background: #f1f1f1;
    width: 100%;
}
.qf_nav_top div{
    font-size: 16px;
    line-height: 60px;
    float: left;
    margin-left: 40px;
    color: #666;
}
.qf_nav_top span{
    font-size: 16px;
    line-height: 60px;
    float: right;
    margin-right: 20px;
    color: #666;
    cursor: pointer;
}
.qf_nav_nav{
    width: 600px;
    height: 260px;
    border-bottom: 1px solid #e6e6e6;
    margin: 0 auto;
}
.qf_dazi{
    font-size: 16px; 
    color: #666;
    display:block;
    text-align: center;
    margin: 60px 0 40px;

}
.qf_wz_zi_1{
    font-size: 14px;
    color: #999;
    display: block;
    margin: 0 40px;
    float: left;
}
.qf_weizhi img{
    float: left;
}
.qf_didian{
    font-size: 14px;
    color: #666;
    float: left;
    margin-left: 10px;
}
.qf_dianji{
    margin-top: 80px;
}
.qf_beijing_1{
    float: left;
    width: 150px;
    height: 100px;
    margin-right: 20px;
    cursor: pointer;
}
.qf_shanghai_1{
    float: left;
    width: 150px;
    height: 100px;
    cursor: pointer;
}
.qf_qidai{
    text-align: center;
    font-size: 14px;
    color: #666;
    line-height: 70px;
}

.qf_tan{
    display: none;
}