@charset "utf-8";
html{height:100%;font-size: 100px;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,button,textarea,p,blockquote,th,td{padding:0;margin:0;}
body{font-family:'-apple-system', "Helvetica Neue", "Hiragino Sans GB", "Segoe UI", "Microsoft Yahei", "微软雅黑", Tahoma, Arial, STHeiti, sans-serif;font-size:12px;background:#fff;color:#333;}
a{outline:none;-moz-outline:none;text-decoration:none;}
h4,h5,h3,h2,h1,p,span,input,textarea{
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

.clearfix{zoom:1;_height:1px;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}


.main-container{width:7.5rem;height:100%;}
.container-1{background:url(../image/back-1.jpg) no-repeat center;background-size:cover;}
.icon-change{position:fixed;top:0.35rem;right:0.3rem;}

.title-container{position:relative;width:5.7rem;height:1.78rem;margin:auto;padding-top:1rem;}
.timer-box{position: absolute;bottom:0.1rem;right:1.7rem;font-size: 0;}
.icon-timer{font-size: 0.4rem;color:#000;text-align: center;line-height:0.55rem;margin:0 0.02rem;}
.play_wrap{position:relative;width:6.4rem;height:6.4rem;margin:auto;}
#play_area{position:relative;width:5.8rem;height:5.8rem;margin-left:0.08rem;margin-top:-2px;cursor:default;border-radius: 0.2rem;}
#play_area.one{background:#e8534b;border:0.25rem solid #e8534b;}
#play_area.two{background:#43afd7;border:0.25rem solid #43afd7;}
#play_area.three{background:#8242d7;border:0.25rem solid #8242d7;}
#play_area.four{background:#21c080;border:0.25rem solid #21c080;}
#play_area.five{background:#e64f84;border:0.25rem solid #e64f84;}

#play_area .play_cell{width:2rem;height:2rem;border:1px solid #fff;position:absolute;background-position: 5px 5px;cursor: default;z-index:200;transition-property:background-position;transition-duration:300ms;transition-timing-function:ease-in-out;}
#play_area.one .play_cell{border:1px solid #e8534b;}
#play_area.two .play_cell{border:1px solid #43afd7;}
#play_area.three .play_cell{border:1px solid #8242d7;}
#play_area.four .play_cell{border:1px solid #21c080;}
#play_area.five .play_cell{border:1px solid #e64f84;}

.icon-border{position: absolute;top:-2px;left:0;z-index:100;}



#second_show{font-size: 0.5rem;text-align: center;display: inline-block;margin:0.2rem;}
#renew,#change{font-size: 0.4rem;text-align: center;display: block;margin:0.2rem;line-height: 1.8;margin:0.2rem 0.5rem;background:red;}


.footer-container{position: absolute;width:100%;height:1.65rem;bottom:0.4rem;}
.icon-line{position:absolute;bottom:0;left:0;}
.carZoom{position:absolute;bottom:0;right:1.4rem;width:3.64rem;height:auto;}

.selected{box-sizing: border-box; box-shadow: 0px 0px 3px 10px #000 !important;z-index:999 !important;}

/*.play_menu{float:left;margin-left:0.6rem;font-size:14px;padding-top:.20rem;}
.play_menu p{line-height:200%;clear:both;}
.play_menu a.play_btn{display:block;margin-bottom:20px;width:80px;height:28px;line-height:28px;text-align:center;text-decoration:none;color:#333;background:#fefefe;border:1px solid #eee;border-radius: 2px;box-shadow: 1px 1px 2px #eee;border-color: #ddd #d2d2d2 #d2d2d2 #ddd;outline:none;   -moz-outline:none;}
.play_menu a.play_btn:hover{background-color: #fcfcfc;border-color: #ccc;box-shadow: inset 0 -2px 6px #eee;}
.play_menu a#play_btn_level{position:relative;margin-bottom:30px;}
.level_text{margin-left:-10px;}
.level_icon{display:block;position:absolute;top:12px;right:16px;width:0;height:0;overflow:hidden;border:5px solid #FFF;border-color:#999 transparent transparent transparent;}
.level_menu{position:absolute;margin:-30px 0 0px 1px;display:none;}
.level_menu ul{list-style:none;}
.level_menu li{float:left;}
.level_menu li a{display:block;padding:3px 10px;border:1px solid #e8e8e8;margin-left:-1px;color:#09c;}
.level_menu li a:hover{background:#09c;color:#fefefe;}
#info{font-size:16px;margin:30px 0 0 0;}
#info a{color:#09F;}
*/

.icon {
  display: inline-block;
  background-size: 12.30rem 11.84rem;
  background-image:url(../image/sprite_gamev1.png);
}
.icon-line {
  background-position: -2.71rem -8.9rem;
  width: 7.04rem;
  height: 0.06rem;
}
.icon-wind{
  background-position: -10.19rem -5.64rem;
  width: 1.22rem;
  height: 0.32rem;
}
/*.icon-排气 {
  background-position: 0rem -8.28rem;
  width: 2.61rem;
  height: 1.37rem;
}*/
.icon-flag{
  background-position: 0rem -9.75rem;
  width: 1.34rem;
  height: 1.63rem;
  margin-left:0.5rem;
}
.icon-title-1 {
  background-position: -6.49rem -3.76rem;
  width: 5.29rem;
  height: 1.78rem;
}
.icon-title-2{
  background-position: 0rem -6.4rem;
  width: 5.29rem;
  height: 1.78rem;
}
.icon-change-3 {
  background-position: -5.39rem -6.4rem;
  width: 5.29rem;
  height: 1.78rem;
}
.icon-title-4{
  background-position: -6.49rem 0rem;
  width: 5.29rem;
  height: 1.78rem;
}
.icon-title-5{
  background-position: -6.49rem -1.88rem;
  width: 5.29rem;
  height: 1.78rem;
}
.icon-change-1 {
  background-position: -6.49rem -5.64rem;
  width: 1.75rem;
  height: 0.52rem;
}
.icon-title-3 {
  background-position: -8.34rem -5.64rem;
  width: 1.75rem;
  height: 0.52rem;
}
.icon-change-2 {
  background-position: -2.71rem -8.28rem;
  width: 1.75rem;
  height: 0.52rem;
}
.icon-change-4{
  background-position: -4.56rem -8.28rem;
  width: 1.75rem;
  height: 0.52rem;
}
.icon-change-5 {
  background-position: -6.41rem -8.28rem;
  width: 1.75rem;
  height: 0.52rem;
}
.icon-border{
  background-position: 0rem 0rem;
  width: 6.39rem;
  height: 6.3rem;
}
.icon-timer {
  background-position: -10.78rem -6.4rem;
  width: 0.5rem;
  height: 0.55rem;
}
