body{
    font-family:"Microsoft YaHei",微软雅黑,"STHeiti Light","Microsoft JhengHei",华文细黑,sans-serif;
    overflow: auto;
}
h4,p{
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;    
}
.navContainer{
    margin-top:0;
    width:100%;
    height:120px;
    background-color: #333333;
}
.colorful{
    height:8px;
    width:100%;
    background-color: #cc9b66;
}
.nav{
    width:940px;
    height:112px;
    margin:auto;
}
.headImg{
    width:140px;
    height:30px; 
    margin-top:41px;
    background:url(../image/white_logo.png) no-repeat center;
    cursor:pointer;
}

/***************************/
.mainContainer{
    width:100%;
    text-align: center;
}
.contentA{
    width:100%;
    height:583px;
    line-height: 583px;
    text-align: center;
    vertical-align: middle;
    background: url(../image/work_bg.jpg) no-repeat center;
    background-size: cover;
}   
.contentA h3{   
    font-size: 40px;
    color:#fff;
    font-weight: 300;
}

.contentB{
    margin-top: 106px;
    padding-bottom: 185px;
}
.iconContainer{
    width:334px;
    height:300px;
    display: inline-block;
}
.iconContainer h4{
    font-size: 30px;
    color:#1a1a1a;
    font-weight: 400; 
}
.iconContainer img{
    margin-top: 38px;
}
.iconContainer p{
    margin-top: 50px;
    font-size: 16px;
    color:#000;
    font-weight: 100; 
    letter-spacing: 1px;
    line-height: 26px;
}
/****************/
.contentC{
    width:100%;
    padding-top: 84px;
    padding-bottom: 138px;
    background-color:#f5f5f5;
    text-align: center; 
}
.contentC h3{
    font-size: 30px;
    color:#1a1a1a;
    font-weight:400;
    padding-bottom: 16px;
}
.row{
    width:54%;
    margin:auto;
    padding-top: 70px;
    text-align: left;
}
.row h5{
    margin-left:27px;
    font-size: 20px;
    color:#999;
    font-weight:300;
}

.workItem{
    height:60px;
    width:280px;
    line-height: 60px;
    margin:27px;
    font-size: 16px;
    color:#000;
    font-weight:100;
    background-color: #fff;
    display: inline-block;
    text-decoration:none;
    text-align: center;
    font-family:"Microsoft YaHei",微软雅黑,"STHeiti Light","Microsoft JhengHei",华文细黑,sans-serif;
}
.workItem:hover{
    color:#fff;
    background-color: #cc9b66;   
}

/*************/
.footerContainer{
    position:relative;
    width:100%;
    height:60px;
    padding-top: 40px;
    background-color: #ededed;
    vertical-align: middle;
    text-align: center;
}

.footerContainer a{
    margin-left: 29px;
    margin-right: 29px;
    text-decoration:none;
}
.footerContainer h4{
    display:inline-block; 
    font-size: 16px;
    color:#757575;
    font-weight: 400;
}
.beian{
    width:100%;
    height:40px;
    line-height: 40px;
    background-color: #333;
    text-align: center;
}
.beian p{
    font-size: 14px;
    color:#808080;
}
.meunContainer{display: none;}

@media screen and (max-width: 640px){
.navContainer{
    width:560px;
    height:120px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 0;
}
.nav{
    width:100%;
    height:120px;
}

.headImg{
    margin-top: 0;
    height:116px;
    width:137px;
    background-position: center left ;
}
.othericon{
    display: none;
}
.colorful{
    height:4px;
    margin-left: -40px;
    width:640px;
}

#menuIcon{
    position:absolute;
    top:0;
    width:40px;
    height:120px;
    right:40px;
    background: url(../image/mobi/menu.png) no-repeat center;
    display: block;
}


.footerContainer{
    display: none;
}
.beian{
    display: none;
}
/***************/
 
.contentA h3{   
    font-size: 30px;
}

.contentB{
    margin-top: 120px;
    padding-bottom: 120px;
}
.iconContainer{
    width:640px;
    margin-top: 100px; 
    display: block;
}
.iconContainer h4{
    font-size: 35px;
}
.iconContainer img{
    margin-top: 26px;
}
.iconContainer p{
    margin-top: 36px;
    font-size: 18px;
}
/****************/
.contentC h3{
    font-size: 40px;
    padding-bottom: 16px;
}
.row{
    width:540px;
    padding-top: 50px;
}
.row h5{
    margin-left:0;
    font-size: 22px;
}

.workItem{
    height:90px;
    width:540px;
    line-height: 90px;
    margin:0;
    margin-top: 20px;
    font-size: 24px; 
}


/**************/
.meunContainer{
    position:fixed;
    width:386px;
    height:100%;
    padding-left: 68px;
    padding-top: 32px;
    top:0;
    right:-500px;
    text-align: left;
    background-color: #ededed;
    overflow-y:auto;
    display: block;
    transition: right 1s;
    -moz-transition: right 1s; /* Firefox 4 */
    -webkit-transition: right 1s; /* Safari 和 Chrome */
    -o-transition: right 1s;
}
.meunshow{
    right:0;
    transition: right 1s;
    -moz-transition: right 1s; /* Firefox 4 */
    -webkit-transition: right 1s; /* Safari 和 Chrome */
    -o-transition: right 1s;
}
#meunClose{
    position:absolute;
    width:38px;
    height:38px;
    top:40px;
    right:40px;
    background: url(../image/mobi/close_menu.png) no-repeat center;
    z-index: 9999;
}
.meunContainer a{
    text-decoration:none;
}
.meunContainer h4{
    margin-top: 94px;
    font-size: 28px;
    color:#808080;
}
#mobi_partner{
    padding-bottom: 98px;
    border-bottom: 1px solid #ccc;
}
#fans{
    width:320px;
    font-size: 22px;
    color:#b2b2b2;
    margin-top: 98px;
    padding-top: 54px;
    border-top: 1px solid #ccc;
}
.fansIcon{
    margin-top: 54px;
    width:100%;
}
.fansIcon img{
    width:100px;
}
#fansWeibo{
    margin-left: 40px;
}
}


@media screen and (max-width: 640px){
.contentA{
    height:300px;
}
}